<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Clipboarder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <!-- useLegacyV2RuntimeActivationPolicy="true"-->
    <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Clipboarder.Properties.Settings>
            <setting name="doesDatabaseExists" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="textShortcuts" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="areTextShortcutsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="imageShortcuts" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="areImageShortcutsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="textContentKeys" serializeAs="String">
                <value>Ctrl+NumKeys</value>
            </setting>
            <setting name="imageContentKeys" serializeAs="String">
                <value>Ctrl+Shift+NumKeys</value>
            </setting>
            <setting name="regex" serializeAs="String">
                <value>((([A - Za - z]{ 3, 9 }:(?:\/\/)?)(?:[-;:&amp;=\+\$,\w]+@)?[A-Za-z0-9.-]+|(?:www.|[-;:&amp;=\+\$,\w]+@)[A-Za-z0-9.-]+)((?:\/[\+~%\/.\w-_]*)?\??(?:[-\+=&amp;;%@.\w_]*)#?(?:[\w]*))?)</value>
            </setting>
            <setting name="isURLIdentificationEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isCutomRegexEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Clipboarder.Properties.Settings>
    </userSettings>
</configuration>
